name: uafinfra
channels:
  - conda-forge
  - defaults
dependencies:
  - python<3.11  # Temporary fix (see https://github.com/numba/numba/issues/8304)
  - fastkml
  - ipython
  - obspy
  - numba
  - pip
  - pip:
    - git+https://github.com/uafgeotools/waveform_collection.git
    - git+https://github.com/uafgeotools/lts_array.git
    - -e .
